<h1>Récapitulatif des commandes</h1>
<table>
    <thead>
        <tr>
            <th>n° colis</th>
            <th>Commade passée le</th>
            <th>Client (nom et prénom)</th>
            <th>Adresse de livraison</th>
            <th>Drone</th>
            <th>Date et heure de livraison</th>
            <th>Statut de la livraison</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <button>Editer</button>
            <button>Supprimer</button>
        </tr>
    </tbody>
</table>