<h1>Enregistrer une nouvelle commande</h1>
<div>
    <label for="parcel">Numéro de colis:</label>
    <input type="text" id="parcel">
</div>
<div>
    <label for="dateOrder">Date de commande:</label>
    <input type="date" id="dateOrder">
</div>
<div>
    <label for="lastName">Nom du client:</label>
    <input type="text" id="lastName">
</div>
<div>
    <label for="firstName">Prénom du client:</label>
    <input type="text" id="firstName">
</div>
<div>
    <label for="street">N° et nom de rue:</label>
    <input type="text" id="street">
</div>
<div>
    <label for="postalCode">Code Postal:</label>
    <input type="text" id="postalCode">
</div>
<div>
    <label for="city">Ville:</label>
    <input type="text" id="city">
</div>
<div>
    <label for="dateDelivery">Date de livraison:</label>
    <input type="date" id="dateDelivery">
</div>
<div>
    <label for="hour">Heure de livraison:</label>
    <input type="text" id="hour">
</div>
<div>
    <label for="drone">Choix du drone:</label>
    <input type="number" id="drone">
</div>
<button>Valider</button>