.app-nav-container ul {
    display: flex;
    justify-content: space-around;
    height: 60px;
    background-color: darkslategray;
    align-items: center;
    padding: 0 10px;
}

.app-nav-container li {
    list-style: none;
}

.app-nav-container a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.app-nav-container a:hover {
    color: lightslategray;
}